@import 'bootstrap-sprockets';
@import 'bootstrap';

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#bottom-stuff {
  padding: 0px 30px 30px 30px;
  position: relative;
  text-align: center;
}

#bottom {
  position: absolute;
  bottom: 0px; 
  text-align: center;
  color: white;
}

.content{
  min-height: calc(100vh - 100px);
}

.logo {
  display: block;
  width: 200px;
  height: 200px;
}

.name_web {
  text-align: center;
  margin: auto;
  color: white;
  background-color: #333333;
  padding: 5px;
  font-family: Bradley Hand, cursive;
}

.slide-image {
  width: 15%;
  height: auto;
  float: left;
  margin-right: 0px;
  margin-left: 16px;
}

.slide {
  margin-top: 20px;
}

.all_book {
  margin: 20px;
  padding: 10px;
}

.sign-up {
  float: left;
  background-color: blue;
  color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

#flash {
  text-align: center;
}

.image_user {
  width: 30px;
  height: 30px;
}

.container {
  margin-top: 70px;
}

.sidenav {
  height: 100%;
  margin-top: 62px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #333333;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #9d9d9d;
  display: block;
}

.sidenav a:hover {
  color: white;
}

.error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: red;
  }
}

.rm_book {
  padding: 10px;
  color:white;
  background-color: red;
  border-radius: 10px
}

.add_book {
  float: right;
  margin: 20px;
  padding: 10px;
  color:white;
  background-color: blue;
  border-radius: 10px;
}

.clear {
  float: clear;
}

.show_img {
  width: 150px;
  height: 100px;
}

#space_row {
  margin-bottom: 25px;
}

.size_book {
  height: 350px;
  width: 100%;
}

.detals_book {
  border-radius: 10px;
  margin-top: 15px;
  background-color: darkmagenta;
  padding: 15px;
  color: white;
}

.slect_form {
  width: 100%;
  padding: 5px;
}

.search_book {
  padding: 10px;
  background-color: #333333;
}

.label_select {
  color: white;
}

.result_book {
  margin-top: 20px;
}
